/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
    box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

button {
    cursor: pointer;
    color: inherit;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}
/* CSS Reset */

:root {
    --header-color: #F79489;
    --header-accent: #FADCD9;
    --sidebar-color: #F9F1F0;
    --sidebar-accent: #F8AFA6;
    --gray: rgb(187, 187, 187);
    --priority-one: #f08080;
    --priority-two: #f8ad9d;
    --priority-three: #ffdab9;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

body {
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-template-rows: min-content 1fr;
    min-height: 100vh;
}

.header {
    background-color: var(--header-color);
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.logo {
    font-family: 'Geologica', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    padding: 12px 24px;
}

.sidebar {
    background-color: var(--sidebar-color);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 24px;
    font-weight: 500;
}

.sidebar-title {
    margin-bottom: 8px;
    font-weight: bold;
}

.sidebar-btn,
.new-project-btn {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 6px 4px;
    width: 100%;
    border-radius: 6px;
}

.sidebar-btn:hover,
.new-project-btn:hover {
    background-color: var(--header-accent);
}

.dot {
    background-color: var(--sidebar-accent);
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.sidebar .plus {
    width: 10px;
}

.main {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.project-container {
    width: 800px;
    margin: 0 auto;
    padding: 24px 48px;
}

.project-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.tasks-container {
    display: flex;
    flex-direction: column;
}

.task-div {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 0;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.spacer {
    flex: 1;
}

.due-date {
    border: 1px solid var(--header-color);
    color: var(--header-color);
    padding: 4px 6px;
    font-size: .75rem;
    border-radius: 6px;
    font-weight: 700;
}

.priority {
    display: flex;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-family: "Geologica", sans-serif;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: .875rem;
    visibility: hidden;
    background-color: var(--gray);
}

.task-div:hover .priority,
.task-div:hover .date-input {
    visibility: visible;
}

.priority[data-priority="1"] {
    visibility: visible;
    background-color: var(--priority-one);
}

.priority[data-priority="2"] {
    visibility: visible;
    background-color: var(--priority-two);
}

.priority[data-priority="3"] {
    visibility: visible;
    background-color: var(--priority-three);
}

.checkbox {
    border: 1px solid var(--sidebar-accent);
    height: 18px;
    width: 18px;
    border-radius: 50%;
}

.checkbox:hover {
    background-color: var(--sidebar-accent);
}

.add-task-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 0;
    margin-left: 1.5px;
    border-radius: 6px;
}

.add-task-btn:hover {
    color: var(--header-color);
    fill: var(--header-color);
}

.hidden {
    display: none;
}

.main .plus {
    width: 18px;
}

.add-task-div {
    border: 1px solid rgb(230, 230, 230);
    padding: 16px;
    border-radius: 16px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-label {
    font-size: .75rem;
    margin-left: 4px;
}

.date-input {
    font-family: "Open Sans", sans-serif;
    padding: 4px;
    width: min-content;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 0 1px var(--gray);
}

.date-input:focus {
    outline: none;
}

.button-div {
    display: flex;
    gap: 8px;
    align-items: center;
}

.add-task-input,
.new-project-input {
    font-size: 1rem;
    padding: 4px;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    border: none;
    box-sizing: border-box;
    margin-bottom: 8px;
}

.new-project-input {
    margin-top: 8px;
    padding: 4px 8px;
    border-radius: 6px;
}

.add-task-input:focus,
.new-project-input:focus {
    outline: none;
}

.cancel-btn,
.submit-btn {
    color: white;
    padding: 8px 10px;
    border-radius: 6px;
    font-size: .875rem;
}

.cancel-btn {
    background-color: lightgrey;
    color: black;
}

.cancel-btn:hover {
    background-color: rgb(179, 179, 179);
}

.submit-btn {
    background-color: var(--header-color);
}

.submit-btn:hover {
    background-color: #d88279;
}

.sidebar .submit-btn {
    margin-left: 8px;
}